<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>TrackME - Homepage</title>

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/media/TrackME.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">TrackME</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="profile">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/news ">
                            <i class='bx bx-news icon'></i>
                            <span class="text nav-text">News</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/settings">
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-plus-circle icon'></i>
                            <span class="text nav-text">Tips</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="#">
                    <a href="logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>
    </nav>

    <section>

        <div class='dashboard'>
            <div class='box'>
                <p class='recent-expenses'>Cash Flow:</p>
                <br>
            </div>

            <div class="box">
                <p class='recent-expenses'>Cash:</p>
                <br>
                <p>${{user.balance}}</p>
            </div>

            <div class='box'>
                <div class='-box-info'>
                    <p class='recent-expenses'>Recent Expenses:</p>
                    <br>
                    {% if latest == 'None'%}
                    <p>No Transactions made</p>
                    {% else %}
                    <p>{{latest.retailer}} - ${{latest.amount}} </p>
                    <p class='latest'>{{latest.date}}</p>

                    <p>{{second.retailer}} - ${{second.amount}}</p>
                    <p>{{second.date}}</p>
                    {% endif %}
                </div>
            </div>

            <div class='box'> <!-- Shows all categories in the month (pie chart-->
                <canvas id='pie-chart' class='pie'></canvas>
            </div>
        </div>


    </section>


    <script>
        var ctx = document.getElementById('pie-chart').getContext('2d');
        
        // Assuming the 'categories' is a dictionary, we need to pass the values as an array
        var dataValues = [
            {{categories.Food}},
            {{categories.Transportation}},
            {{categories.Clothing}},
            {{categories.Utilities}},
            {{categories.Groceries}},
            {{categories.Others}}
        ];
        
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: dataValues,
                    backgroundColor: [
                        '#C40C0C', '#40A578', '#4B70F5', '#9BCF53', '#F2AFEF', '#F99417'
                    ],
                    label: 'Expenses'
                }],
                labels: ['Food', 'Transportation', 'Clothing', 'Utilities', 'Groceries', 'Others']
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }

        };
        new Chart(ctx, config);

    </script>
    <script>
        
        const body = document.querySelector('body'),
              sidebar = body.querySelector('nav'),
              toggle = body.querySelector(".toggle"),
              modeSwitch = body.querySelector(".toggle-switch"),
              modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        });

        // Check for saved theme preference on page load
        
        document.addEventListener('DOMContentLoaded', (event) => {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                document.body.classList.add(savedTheme);
                if (savedTheme === 'dark') {
                    modeText.innerText = "Light mode";
                } else {
                    modeText.innerText = "Dark mode";
                }
            }
        });
        

        modeSwitch.addEventListener("click", () => {
            if (document.body.classList.contains("dark")) {
                document.body.classList.remove("dark");
                localStorage.setItem('theme', '');
                modeText.innerText = "Dark mode";
            } else {
                document.body.classList.add("dark");
                localStorage.setItem('theme', 'dark');
                modeText.innerText = "Light mode";
            }
        });
    
    </script>

</body>
</html>