<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/playground.css' %}">    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Index</title>

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/media/TrackME.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">TrackME</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/profile">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-news icon'></i>
                            <span class="text nav-text">News</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Account Actions</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/transaction">
                            <i class='bx bx-transfer-alt icon'></i>
                            <span class="text nav-text">Transaction</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="#">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>
    </nav>
    <p>Transactions: </p>
    <div class='input-fields'>
        <form action="" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="action" value='Transaction'>
            <input type="text" name='retailer' placeholder='Retailer'>
            <input autocomplete="off" type="text" name='amount' placeholder='Price'>
            <select name="category">
                <option value="0">What did you buy?</option>
                <option value="1">Food</option>
                <option value="2">Transportation</option>
                <option value="3">Clothing</option>
                <option value="4">Utilities</option>
                <option value="5">Vacation</option>
                <option value="6">Others</option>
            </select>
            <button type="submit"> Submit</button>
        </form>
    </div>

    <p class='sub-header'>Reoccuring Transactions / Subscriptions: </p>
    <div class='subscriptions'>
        <form action="" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="action" value='Subscription'>
            <input autocomplete="off" type="text" name='organization' placeholder='For..'>
            <input autocomplete="off" type="amount" name="amount" id="" placeholder='Monthly..'>
            <button type='submit'> Submit</button>
        </form>

        <div class='error'>
            {% for message in messages %}
            <h5> {{message}} </h5>
            {% endfor%}

        </div>

    </div>

    <button class='nnnn'name='create-new-reoccuring-transactions' id='create-new'> Re-occuring transactions</button>

    <div class='reoccuring-transactions'>
        <form action="POST">
            <input type="hidden" name='action' value='Reoccuring'>
            <input class='reocur' type="text" name='purchase' placeholder='Purchase'>
            <input class='reocur' type="integer" name='amount' placeholder='Amount'>
        </form>


    </div>
    
    <script>
        const body = document.querySelector('body'),
              sidebar = body.querySelector('nav'),
              toggle = body.querySelector(".toggle"),
              modeSwitch = body.querySelector(".toggle-switch"),
              modeText = body.querySelector(".mode-text");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        });

        // Check for saved theme preference on page load
        /*
        document.addEventListener('DOMContentLoaded', (event) => {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme) {
                document.body.classList.add(savedTheme);
                if (savedTheme === 'dark') {
                    modeText.innerText = "Light mode";
                } else {
                    modeText.innerText = "Dark mode";
                }
            }
        });
        */

        modeSwitch.addEventListener("click", () => {
            if (document.body.classList.contains("dark")) {
                document.body.classList.remove("dark");
                localStorage.setItem('theme', '');
                modeText.innerText = "Dark mode";
            } else {
                document.body.classList.add("dark");
                localStorage.setItem('theme', 'dark');
                modeText.innerText = "Light mode";
            }
        });

    </script>
    
    <script>

        let elementArray = body.querySelectorAll('input')

        document.getElementById('create-new').addEventListener("click", () =>{
            elementArray.forEach(element => {
                elementArray.style.display = 'inline-block';
            });
        });

    </script>
    
</body>
</html>


