<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Sign-up</title>
</head>
<body>

    <div class='login-entries'>
        <form action="" method="POST">
            {% csrf_token %}

            <input type="text" name='firstName' placeholder='First Name'>
            <input type="text" name='lastName' placeholder='Last Name'>
            <input type="text" name='username' placeholder='Username'>
            <input type="email" name='email' placeholder='Email'>
            <input type="password" name="password1" placeholder='Password'>
            <input type="password" name='password2' placeholder='Enter Password Again'>
            <button class='submit-button' type="submit"> Sign Up</button>
        </form>
        <a href="/login">Already Have an Account?</a>
    </div>
    
</body>
</html>