<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <title>Login</title>
</head>
<body>

    <!--

    <div class='login-entries'>
        <form action="" method="POST">
            {% csrf_token %}
            <div class='group'>
            <input type="text" name='username' placeholder='Username'>
            <input type="password" name="password" placeholder='Password'>
            <button class='submit-button' type="submit"> Login In</button>
        
        </form>
        <a href="/signup">Signup</a>
    </div>
    -->
    <div class='login-entries'>
        <form action="" method='POST'>
            {% csrf_token %}
            <h2>TrackME</h2>
                <div class="group">      
                <input type="text" name='username' required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            
            <div class="group">      
                <input type="password" name='password' required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class='outside'>
                <button class='submit-btn' type='submit'>Login</button>
                <a href="/signup">Create an account</a>
            </div>
        </form>
    </div>
    
</body>
</html>
