<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}} Account</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">    

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/media/TrackME.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">TrackME</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/profile">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-news icon'></i>
                            <span class="text nav-text">News</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Account Actions</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/transaction">
                            <i class='bx bx-transfer-alt icon'></i>
                            <span class="text nav-text">Transaction</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="#">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>
    </nav>

    <div class='user-info'>
        <div class='transactions_made'>
            <ul class = 'hh'>
                <h2>{{percentage_yearly}}: {{num_transactions}}&nbsp &nbsp${{total_monthly}}</h2>
                {% for t in transactions %}
                <li class='jj'><p>{{t.retailer}}: ${{t.amount}} - {{t.date}}</p></li>
                {% endfor %}
            </ul>
        </div>

        <div class='subscriptions_made'>
            <ul class='hh'>
                <h2 class='headers'>Active Subscriptions: {{num_subscriptions}} ${{monthly_subs}}/Month</h2>
                <div class='hh2'>
                    {% for i in subscriptions %}
                    <li class='jj'><p>{{i.organization}} </p></li>
                    {% endfor %}
                </div>
            </ul>
        </div>
        <div class='pie-chart' id='container' style="width: 20%;">
            <canvas id='pie-chart'></canvas>
        </div>
        <div class='select-box'>
            <select id='time'>
                <option value='month'>Month</option>
                <option value='year'>Year</option>
            </select>
        </div>

        <div class='bar-chart-yearly'>
            <canvas id='yearly-bar-chart'></canvas>
        </div>

    </div>

    <script> 
        // Pie / Doughnut Chart
        var ctx = document.getElementById('pie-chart').getContext('2d');
        var monthlyData = [
            {{ categories.Food }},
            {{ categories.Transportation }},
            {{ categories.Clothing }},
            {{ categories.Utilities }},
            {{ categories.Vacation }},
            {{ categories.Others }}
        ];
        
        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: monthlyData,
                    backgroundColor: [
                        '#006769', '#40A578', '#9DDE8B', '#E6FF94', '#BEDC74', '#F6E96B'
                    ],
                    label: 'Expenses'
                }],
                labels: ['Food', 'Transportation', 'Clothing', 'Utilities', 'Vacation', 'Others']
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Spending Disparity: {{month}} {{year}}'
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        };
    
        var pieChart = new Chart(ctx, config);
    
        // Dropdown menu code to change pie chart into yearly distribution or monthly
        const change = document.getElementById('time');
        change.addEventListener('change', function() {
            if (change.value === 'year') {
                pieChart.data.datasets[0].data = [
                    {{ percentage_yearly.Food }},
                    {{ percentage_yearly.Transportation }},
                    {{ percentage_yearly.Clothing }},
                    {{ percentage_yearly.Utilities }},
                    {{ percentage_yearly.Vacation }},
                    {{ percentage_yearly.Others }},
                ];
                pieChart.options.plugins.title.text = 'Spending Disparity: {{year}}';
            } 
            
            else {
                pieChart.data.datasets[0].data = [
                    {{ categories.Food }},
                    {{ categories.Transportation }},
                    {{ categories.Clothing }},
                    {{ categories.Utilities }},
                    {{ categories.Vacation }},
                    {{ categories.Others }},
                ];
                pieChart.options.plugins.title.text = 'Spending Disparity: {{ month }} {{ year }}';
            }
            pieChart.update();
        });

    </script>
    
    <script> // Bar Chart
        var ctxYearly = document.getElementById('yearly-bar-chart').getContext('2d');
        
        var yearlyData = {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: '{{year}} Spending',
                data: [
                    {{ yearly.Jan }},
                    {{ yearly.Feb }},
                    {{ yearly.Mar }},
                    {{ yearly.Apr }},
                    {{ yearly.May }},
                    {{ yearly.Jun }},
                    {{ yearly.Jul }},
                    {{ yearly.Aug }},
                    {{ yearly.Sept }},
                    {{ yearly.Oct }},
                    {{ yearly.Nov }},
                    {{ yearly.Dec }}
                ],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        };
    
        var configYearly = {
            type: 'bar',
            data: yearlyData,
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display:true,
                        text: "Yearly Spending"
                    }
                }
            }
        };
    
        new Chart(ctxYearly, configYearly);
    </script>

    <script>
        const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

  toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
  });

  searchBtn.addEventListener("click", () => {
      sidebar.classList.remove("close");
  });

  // Check for saved theme preference on page load
  
  document.addEventListener('DOMContentLoaded', (event) => {
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
          document.body.classList.add(savedTheme);
          if (savedTheme === 'dark') {
              modeText.innerText = "Light mode";
          } else {
              modeText.innerText = "Dark mode";
          }
      }
  });
  

  modeSwitch.addEventListener("click", () => {
      if (document.body.classList.contains("dark")) {
          document.body.classList.remove("dark");
          localStorage.setItem('theme', '');
          modeText.innerText = "Dark mode";
      } else {
          document.body.classList.add("dark");
          localStorage.setItem('theme', 'dark');
          modeText.innerText = "Light mode";
      }
  });
    </script>

</body>
</html>
