<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

    <form action="" method='POST'>
        {% csrf_token %}
        <input type="hidden" name='action' value='budgets'>
        Food: <input type="integer" name ='food' placeholder={{food_budget}}>
        Clothing: <input type="integer" name ='clothes' placeholder={{clothing_budget}}>
        Utilities: <input type="integer" name ='util' placeholder={{utilities_budget}}>
        Transportation: <input type="integer" name ='transport' placeholder={{transport_budget}}>
        Others: <input type="text" placeholder={{others_budget}}>

        <button type='submit'>Save</button>
    </form>
</head>
<body>

    <script>

    </script>
    
</body>
</html>
